bytewax
orjson
pydantic
PyGithub
icecream
confluent-kafka
kafka-python-ng
aiohttp==3.9.0b0
pydantic-settings
pytest
langchain==0.1.14
langchain-community==0.0.31
langchain-core==0.1.40
langchain-openai
qdrant_client
pymupdf
tiktoken
